body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;

    background: linear-gradient(270deg, #1278d4, #00ffb9);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@keyframes AnimationName {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
/*UTILITIES*/
.font-lobster {
  font-family: 'Lobster', cursive;
}
.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.header {
    height: 300px;
    font-family: 'Roboto Condensed', sans-serif !important;
    color: #fff;
}
.dummy-content{
  font: #fff;
}
.end-footer {
  background-color: #f6f6f6;
  height: 300px;
}

.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #1F618D;
    font-size: 50px;
}
.logo {
    color: #1F618D;
    font-size: 200px;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.btn {
  font-family: 'Roboto Condensed', sans-serif;
}
.nav-item .btn-primary {
  background-color: transparent;
  border: 0 none;
  margin-left: 5px;
}
.btn-secondary {
  background-color: transparent;
}

.navbar {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0;
    background-color: transparent;
    z-index: 9999;
    border: 0;
    font-size: 16px !important;
    /*line-height: 1.42857143 !important;*/
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: black !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1F618D !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    color: #1F618D;
}
footer {
  100px;
}

.card-block {
  color:black;
}
