body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;

    background: linear-gradient(270deg, #1278d4, #00ffb9);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/*UTILITIES*/
.font-lobster {
  font-family: 'Lobster', cursive;
}
.font-raleway {
  font-family: 'Raleway', sans-serif;
}
.btn-primary {
  background-color: transparent;
  border: 0 none;
  margin-left: 5px;
}

/*Navbar*/

.navbar {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fff;
    margin-bottom: 0;
    z-index: 9999;
    border: 1;
    font-size: 16px !important;
    /*line-height: 1.42857143 !important;*/
    border-radius: 0;
    border-color: #f6f6f6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.navbar li a, .navbar .navbar-brand {
    color: black !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1F618D !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    /*color: #fff !important;*/
}
.padding {height: 50px;}
.main {
  height: 1000px;
  /*background-color: #f6f6f6;*/
  background-color: #fff;
}
.main h1,h3, li{
  color: black;
}
.header h1 {
  font-size: 50px;
}

.container {
  max-width: 750px;
}
