<!DOCTYPE html>
<html lang="en">
<head>
  <title>Active Learning Info Site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />


  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
  <link href="../css/secondary-support.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">

<body>

  <nav class="navbar navbar-toggleable-sm navbar-light container-fluid fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa fa-bars fa-1x" aria-hidden="false"></i></span>
    </button>
    <a class="navbar-brand font-lobster" href="#">Active Learning</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary" href="#" role="button">About</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary" href="primary_support.html">Support</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary">Signin</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary" href="#" role="button">Signup</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="padding"></div>
  <!-- Jumbotron -->
  <div class="header container text-white py-5">
    <h1 class="font-lobster">Instructor Guide</h1>
    <p class="lead">Everything an Instructor needs to know to drive students to success.</p>
  </div>

  <!--content -->
  <div id="instructor" class="main container-fluid">
    <div class="content container">
      <!-- Account Basics -->
      <h1 class="pt-5">Contents</h1>

      <div class="account-basics py-5">
        <div class="row justify-content-between">
          <div class="col-md-6">
            <h3>Account Basics</h3>
            <ul class="row">
              <div class="col-md-6">
                <li><a href="#login">Login and Register an Account</a></li>
                <li><a href="#profile">Edit your profile</a></li>
                <li><a href="#password">Manage Passwords</a></li>
              </div>
              <div class-"col-md-6">
                <li><a href="#signout">Sign out of Account</a></li>
                <li><a href="#createcourse">Create a Course</a></li>
                <li><a href="#addstudent">Add Students</a></li>
              </div>
              <!-- includes creating a course key -->
            </ul>
          </div>
          <div class="col-md-6">
            <h3>Lecture Basics</h3>
            <ul class="row">
              <div class="col-md-6">
                <li><a href="#question">Create a Question</a></li>
                <li><a href="#lecture">Create a Daily Lecture</a></li>
                <li><a href="#start">Start/End a Daily Lecture</a></li>
                <li><a href="#review">Review Student Progress</a></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <hr>
    </div> <!-- End of Contents -->


    <!--Middle Container -->
    <div id="content" class="container">
      <!-- Login and Register ------------------------------------------->
      <div id="login" class="slideanim">
        <h1>Login and Register Account</h1>
        <ul>
          <li><b>Enter your email address</b> you signed up with. This should be your Georgia Tech email address.</li>
          <li>Enter your <b>password</b> you signed up with.</li>
          <li>Click <b>Login</b></li>
        </ul>
        <img src="../img/register-instructor.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image">
        <ul>
          <li>If you don't have an account, <b>Contact admin</b> for an <b>Instructor Key</b>. This key will allow you to create an account in instructor priviledges.</li>
          <li>Enter your <b>first and last name</b> and <b>Georgia Tech email address</b> and then choose a <b>password</b>.</li>
          <li>Click on the <b>Professor Button</b> to enable the text field and then enter the <b>Instructor Key</b> you were given by admin.</li>
          <li>Click on <b>Register</b></li>
        </ul>
      </div>

      <!-- Edit Profile ---------------------------------------------------->
      <hr><div id="profile" class="slideanim">
        <h1>Edit Profile</h1>
        <ul>
          <li>Click your name in the top-left to open the Menu.</li>
          <li>Select <b>Profile</b>
        </ul>
        <img src="../img/instructor-profile.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image">
        <ul>
          <li>Press <b>Edit Profile</b> at the bottom of the page.</li>
          <li>Make edits and press <b>Save Changes</b> when you are done.</li>
        </ul>
        <img src="../img/instructor-edit-profile.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image">
        <div class="card card-ouline-info my-3 text-center">
          <div class="card-block">
            To change your profile picture, press the image under <b>Edit Profile</b> and file manager will pop up.
          </div>
        </div>
      </div><!-- End of Edit Profile -->

      <!-- Manage Passwords -------------------------------------------------------------------------------------------------->
      <hr><div id="password" class="slideanim">
        <h1>Manage Passwords</h1>
        <ul>
          <li>Click your name in the top-left to open the menu.</li>
          <li>Select <b>Profile</b>.</li>
          <li>Press <b>Edit Profile</b> at the bottom of the page.</li>
          <li>Enter your <b>Old Password</b>, the one that is to be changed.</li>
          <li>Enter your <b>New Password</b>.</li>
          <li>Press <b>Save Changes</b> located on the bottom of the page.</li>
        </ul>
  </div><!-- End of Manage Passwords-->

  <!-- Sign Out of Account ---------------------------------------------------------------------------------------------------------->
  <hr><div id="signout" class="slideanim">
    <h1>Sign Out of an Account</h1>
    <ul>
      <li>Click your name in the top-left to open the menu</li>
      <li>Select <b>Logout</b>.</li>
    </ul>
  </div><!--End of Sign out -->

  <!-- Create a Course ---------------------------------------------------------------------------------------------------------------->
  <hr><div id="createcourse" class="slideanim">
    <h1>Create a Course</h1>
    <ul>
      <li>Press the <b>Create Course</b> button located on the left side of the menu or the <b>[+]</b> button located on the top of your dashboard.</li>
    </ul>
    <img src="../img/instructor-create-course.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image">
    <ul>
      <li>Enter class type and class number.</li>
      <li>Enter class days, class time, and the semester the class is offered.</li>
      <li>Enter section numbers.</li>
      <li>Click <b>Create</b>.</li>
    </ul>
    <div class="card card-ouline-info my-3 text-center">
      <div class="card-block">
        You can enter multiple sections at once. Type out all sections in the <b>Add Sections</b> text box. Press <b>enter</b> after each section.
      </div>
    </div>
  </div><!--End of create course -->

  <!--Add Students -------------------------------------------------------------------------------------------------------------------------------------->
  <hr><div id="addstudent" class="slideanim">
    <h1>Add Students</h1>
    <ul>
      <li>Under the course section, to retrieve the <b>Student Key</b> for students to join the section, press the <b>clipboard</b> icon on the top-right corner of the section card.</li>
    </ul>
    <img src="../img/instructor-manage-students.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image">
    <ul>
      <li>Alternatively, to add a group of students at once via .csv or to manage students, press <b>Manage Students</b> on the bottom of the section card.</li>
      <li>On top of the page, select <b>Add</b>.</li>
      <li>Click <b>Choose CSV</b> and select .csv file with students.</li>
      <li>Click <b>Submit</b>.</li>
    </ul>
    <img src="../img/instructor-add-student.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image">
    <div class="card card-ouline-info my-3 text-center">
      <div class="card-block">
        The CSV file of students can directly be pulled from the TSquare website.
      </div>
    </div>

  </div><!--End of add students-->

  <!-- Create a Question ----------------------------------------------------------------------------------------------------->
  <hr><div id="question" class="slideanim">
    <h1>Create a Question</h1>
    <ul>
      <li>On the sidebar menu to the left, click on <b>Create Question</b>.</li>
    </ul>
    <img src="../img/instructor-new-question-default.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image">
    <ul>
      <li>To edit the question, Select <b>pen icon</b> on the top left.</li>
      <li>Click on portion of the question you want to edit to edit.</li>
      <li>Click on the <b>check icon</b> to save edits.</li>
    </ul>
    <div class="card card-ouline-info my-3 text-center">
      <div class="card-block">
        In order to change the question to multiple choice from True/False, press the toggle on the top left. To set the correct answer choice, press the <b>check icon</b> next to the corresponding answer choice.
      </div>
    </div>
  </div><!--End of Question -->

  <!--Create a Daily Lecture ---------------------------------------------------------------------------------------------->
  <hr><div id="lecture" class="slideanim">
    <h1>Create a Daily Lecture</h1>
    <ul>
      <li>From the dashboard, make sure you go into a course you want to create the lecture under.</li>
      <li>In the sidebar menu to the left, click on <b>Create Lecture</b>.</li>
      <li>Enter a title and date.</li>
    </ul>
    <img src="../img/instructor-create-lecture.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image">
    <ul>
      <li>Under Lectures, you should now see the lecture you have just created.</li>
    </ul>
    <img src="../img/instructor-manage-lecture.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image">
    <ul>
      <li>In order to add questions to lectures you have created, look into the list of lectures. Find the lecture you want to edit on the list.</li>
      <li>Press corresponding <b>pen icon</b> to the right.</li>
    </ul>
    <img src="../img/instructor-add-question-lecture.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image">
    <ul>
      <li>In the text box, look up the question you want to include in the lecture.</li>
      <li>Select the question and press <b>Add Question</b> right of the text box.</li>
    </ul>
  </div><!--End of create a daily lecture-->

  <!--Start a Daily Lecture ----------------------------------------------------------------------------------------------------------------------------->
  <hr><div id="start" class="slideanim">
    <h1>Start/End a Daily Lecture</h1>
    <ul>
      <li>Under your course, look under <b>Lectures</b> section and find the lecture you want to start.</li>
      <li>Select the <b>Play</b> button.</li>
      <li>From the dropdown menu on the top of the page, select the question you want to start.</li>
      <li>To adjust the time a student has on the question, adjust using <b>+</b> to add time or <b>-</b> to deduct time.</li>
      <li>To end a daily lecture, simply exit out of the lecture by going back to the course section page.</li>
    </ul>
  </div><!--end of Start a Daily Lecture-->

  <!--Review Student Progress ------------------------------------------------------------------------------------------------------------------------------>
  <hr><div id="review" class="slideanim">
    <h1>Review Student Progress</h1>
    <ul>
      <li>As students answer the question during a lecture session, a results graph will be populated on screen.</li>
    </ul>
    <img src="../img/instructor-review-result.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image">
  </div><!-- end of review student progress -->
</div> <!-- End of main -->

  <footer class="end-footer">
    <div class="container">
  </footer>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>


</body>
</html>
