<!DOCTYPE html>
<html lang="en">
<head>
  <title>Active Learning Info Site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />


  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
  <link href="../css/secondary-support.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!--
  <nav class="navbar navbar-toggleable-sm">
    <a class="navbar-brand flex-sm-fill" href="#">Active Learning</a>
  </nav> -->

  <nav class="navbar navbar-toggleable-sm navbar-light container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa fa-bars fa-1x" aria-hidden="false"></i></span>
    </button>
    <a class="navbar-brand" href="#">Active Learning</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary" href="#" role="button">About</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary" href="primary_support.html">Support</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary">Signin</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary" href="#" role="button">Signup</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Jumbotron -->
  <div class="header container text-white py-5">
    <h1>Instructor Guide</h1>
    <p class="lead">Everything an Instructor needs to know to drive students to success.</p>
  </div>

  <!--content -->
  <div class="main container-fluid">
    <div class="container">
      <!-- Account Basics -->
      <div class="account-basics py-5">
        <div class="row justify-content-between">
          <div class="col-md-6">
            <h1>Account Basics</h1>
            <ul class="row">
              <div class="col-md-6">
                <li>Login and Register an Account</li>
                <li>Manage Dashboard</li>
                <li>Edit your profile</li>
                <li>Manage Passwords</li>
              </div>
              <div class-"col-md-6">
                <li>Sign out of Account</li>
                <li>Deactivate Account</li>
                <li>Create a Course</li>
              </div>
              <!-- includes creating a course key -->
            </ul>
          </div>
          <div class="col-md-6">
            <h1>Lecture Basics</h1>
            <ul class="row">
              <div class="col-md-6">
                <li>Create a daily Lecture</li>
                <li>Create a Question</li>
                <li>Question Sets</li>
                <li>Set Question Timer</li>
              </div>
              <div class="col-md-6">
                <li>Start a daily lecture</li>
                <li>Start a Question in a lecture</li>
                <li>End a daily lecture</li>
                <li>Review Student Progress</li>
              </div>
            </ul>
          </div>    
        </div>
      </div>

    </div>
  </div>

  <footer class="end-footer">
    <div class="container">
  </footer>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


</body>
</html>
