<!DOCTYPE html>
<html lang="en">
<head>
  <title>Active Learning Info Site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />


  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
  <link href="primary-support.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-toggleable-sm">
    <a class="navbar-brand flex-sm-fill" href="#">Active Learning</a>
  </nav>


    <!-- Header -->
    <div class="header container-fluid">
      <div class="dummy-content text-center">
        <h1 class="display-4 mb-5">What can we help you with today?</h1>
        <p>Have any questions?<span><button type="button" class="ml-3 btn btn-outline-secondary btn-md">Contact Us</button></span></p>
      </div>
    </div>

    <!-- Information Buttons -->
    <div class="container-fluid information px-0 py-0">
      <div class="row no-gutters">
        <div class="col-sm-6 students">
          for students
        </div>
        <div class="col-sm-6 instructors">
          for instructors
        </div>
      </div>
    </div>

  <footer class="end-footer">
    <div class="container">
  </footer>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


</body>
</html>
