<!DOCTYPE html>
<html lang="en">
<head>
  <title>Active Learning Info Site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />

  <link href="../css/primary-support.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">


</head>
<body>

  <nav class="navbar navbar-toggleable-sm navbar-light container mt-3">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa fa-bars fa-1x" aria-hidden="false"></i></span>
    </button>
    <a class="navbar-brand font-lobster" href="#">Active Learning</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary" href="primary_support.html">Support</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary">Signin</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary" href="#" role="button">Signup</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Jumbotron -->
  <div class="header container text-white text-center py-5">
    <h1 class="font-lobster">What Can We Help You With?</h1>
    <button class="btn btn-primary btn-lg mt-4">Contact</button>
  </div>

  <div class="end-footer">
    <div class="container mb-5">
      <div class="row">
        <div class="col-md-6">
          <div class="card mt-3">
            <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
            <div class="card-block">
              <h3 class="card-title" style="color:black;">Student Guide</h3>
              <p class="card-text" style="color:black;">A guide for everything a student needs to know on how to get started.</p>
              <a href="student-support.html" class="btn btn-primary">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mt-3">
            <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
            <div class="card-block">
              <h3 class="card-title">Instructor Guide</h3>
              <p class="card-text">The instructor's manual on how to start the ActiveLearning process.</p>
              <a href="instructor-support.html" class="btn btn-primary">Get Started</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


</body>
</html>
