<!DOCTYPE html>
<html lang="en">
<head>
  <title>Active Learning Info Site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />


  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
  <link href="../css/secondary-support.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">

</head>
<body>
<!--
  <nav class="navbar navbar-toggleable-sm">
    <a class="navbar-brand flex-sm-fill" href="#">Active Learning</a>
  </nav> -->

  <nav class="navbar navbar-toggleable-lg navbar-light container-fluid bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa fa-bars fa-1x" aria-hidden="false"></i></span>
    </button>
    <a class="navbar-brand font-lobster" href="#">Active Learning</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary" href="#" role="button">About</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary" href="primary_support.html">Support</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary">Signin</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link btn btn-primary" href="#" role="button">Signup</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="padding"></div>
  <!-- Jumbotron -->
  <div class="header container text-white py-5">
    <h1 class="font-lobster">Student Guide</h1>
    <p class="lead">Everything a student needs to know on the road to success.</p>
  </div>

  <!--content -->
  <div class="main container-fluid">
    <div class="container">
      <!-- Account Basics -->
      <h1 class="pt-5">Contents</h1>

      <div class="account-basics">
        <div class="row justify-content-between">
          <div class="col-md-6">
            <h3>Account Basics</h3>
            <ul class="row">
              <div class="col-md-6">
                <li>Login and Register an Account</li>
                <li>Edit your profile</li>
                <li>Manage Passwords</li>
              </div>
              <div class="col-md-6">
                <li>Sign out of Account</li>
                <li>Deactivate Account</li>
                <li>Join a Course</li>
              </div>
            </ul>
          </div>
          <div class="col-md-6 mb-5">
            <h3>Lecture Basics</h3>
              <ul>
                <li>Join a daily lecture</li>
                <li>Answering Questions</li>
                <li>Review Question and Answers</li>
              </ul>
          </div>
        </div>
      </div>
      <hr>
    </div> <!-- End of Contents -->

    <!--Middle Container -->
    <div id="content" class="container">
      <!--Login and Register -->
      <div>
        <h1>Login and Register Account</h1>
        <ul>
          <li><b>Enter your email address</b> you signed up with and <b>password</b>.</li>
          <li>Click <b>Login</b></li>
        </ul>
        <img src="../img/login.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image">
        <ul>
          <li>If you don't have an account, press <b>Register</b></li>
          <li>Enter your <b>first and last name</b> and <b>Georgia Tech email address</b> and then choose a <b>password</b>.</li>
        </ul>
        <div class="card card-outline-info my-3 text-center">
          <div class="card-block">
            Note that as a student, you don't need a Professor Key so you may ignore that field and press <b>Register</b> when required fields are complete.
          </div>
        </div>
        <!-- <img src="../img/register-instructor.png" class="rounded mx-auto my-3 d-block img-fluid" alt="Responsive image"> -->
      </div>

      <!-- Edit Profile -------------------------------------------------------------------------------------------->
      <hr><div>
        <h1>Edit Profile</h1>
      </div> <!--End of Edit Profile -->
    </div>
  </div> <!-- End of main ----------------------------------------------------------------------------------------->

  <footer class="end-footer">
    <div class="container">
  </footer>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


</body>
</html>
